/* Place CSS styles here */
 *{
 margin: 0;
 padding: 0;
 }

 /* Changes for my Final Project
 smooth scroll
    do all the pics and their description
    put a next and a back on each description 
 put a bar for phone responsive
    change the colors
    add logo on header and main page
    put mu email in the footer or in the submit
    make the pic on the main page a video instaead
    optimize the images and videos
    put a description when hovering on images
    use lighthouse to improve website
    change title and description
    remove sculpture tab
    images should not be bigger than 225kb
    put wrappers so it dont touch the edges
    use mp4 for video*/ 

 /* header */
 .headerr{
   background-color: #011310;
   min-width: 100vW;
   display: flex;
   justify-content: space-between;
   padding-left: 10px;
   padding-right: 10px
 }

 .header-logo img{
  width: 100px;
 }

 .header-nav{
  display: flex;
 }

 .header-nav ul{
   display: flex;
   justify-content: center;
   list-style: none;
   font-size: 30px;
   letter-spacing: 2px;
   gap: 30px;
   padding-right: 20px;
 }

 .header-nav ul li{
   padding: 10px;
 }
 .header-nav ul li a{
    color: #ee3663;;
    text-decoration: none;
    transition: all .2;
 }
 
 .header-nav ul li a:hover {
    color: #dee9f1;
    text-decoration: underline;
 }


 @media (max-width: 480px) {
  .headerr{
    min-width: 100vh;
  }

  .header-nav ul{
    width: 100%;
    /* position: fixed;
    z-index: 1000;
    background: hsl(0 0% 0% / 0.4);
    backdrop-filter: blur(50px);
    inset: 0 0 0 10%;
    top: 80px;
    left: -100%;
    flex-direction: column;
    padding: 20px 45px;
    gap: 50px;
    transition: all .5s; */
  }

   .header-nav ul li{
    display: block;
   }

   .header-nav ul li a{
    font-size: 35px;
   }

   .header-nav ul li a:hover{
    color: #a981f3;
   }  
 }
        
 @media (min-width: 481px) and (max-width: 785px) {
  .headerr{
    min-width: 100vh;
   }
   .header-nav ul{
    width: 100%;
   }
 }

 /* next-Previous */
 .preiv-next{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 25px;
 }

 .preiv-next a{
  border-radius: 3px;
  background-color: #3a9aa6;
  color: #073f0a;
 }

 .preiv-next a:hover{
  color: #ffffff;
 }

 @media (max-width: 480px) {
  .preiv-next {
    min-width: 100vh;
  }
 }
        
 @media (min-width: 481px) and (max-width: 785px) {
  .preiv-next {
   min-width: 100vh
  }
 }

 /* index body */
 .body-video {
  min-width: 100vh;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.body-video video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.body-video .body-videocaption {
  z-index: 1;
  position: relative;
  color: #03d738;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  font-size: 27px;
  font-family: math;
  letter-spacing: 6px;
}

 .body-img{
    width: 100%;
    height: 100vh;
 }

 .body-img img{
   min-width: 100%;
    height: 100vh;
 }

 .body-list-img{
    min-width: 100vh;
 }

 .body-list-img ol{
    display: flex;
    justify-content: space-between;
    list-style: none;
 }

 .body-list-img ol li{
    padding: 10px;
 }

 .body-list-img ol li:hover{
  opacity: 46%;
 }

 .body-list-img img{
    max-width: 100%;
    width: 100vh;
 }
 @media (max-width: 480px) {
 .body-img img{
    min-width: 100vh;
    width: 100%;
    }
 .body-list-img ol{ 
    display: grid;
    grid-template-columns: repeat(2,1fr)
   }
 }

 @media (min-width: 481px) and (max-width: 785px) {
 .body-img img{
    min-width: 100vh;
    width: 100%;
    }

 .body-list-img ol{ 
    display: grid;
    grid-template-columns: repeat(3,1fr)
    }   
 }

 /* about body */
 .about-bg{
    background-image: url(../img/Painting/Aboutbg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    max-width: 100%;
 }
 .about-body{
    display: flex;
    gap: 10px;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
 }

 .about-page{
  width: 100vh;
 }

 .about-pic {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
 }

 .about-pic img{
    width: 50%;
    border-radius: 50%;
 }

 .about-desc{
   text-align: center;
 }

 .about-about{
    width: 100%;
    letter-spacing: 1px;
    font-size: 20px;
    min-width: 100vW;
 }

 .about-about p{
    padding: 10px;
    min-width: 100vW;
 }

 .about-about ol{
    list-style: none;
    letter-spacing: 2px;
 }

 @media (max-width: 480px) {
 .about-bg{
   background-size: 100vh;
   min-width: 100vw;
  }
 .about-pic{
  display: flex;
  align-items: center;
  }
  .about-about p {
   min-width: 100vh;
   font-size: 25px;
  }
 }
     
 @media (min-width: 481px) and (max-width: 785px) {
 .about-bg{
  background-size: 100%;
  min-width: 100vw;
  } 
 .about-pic{
  display: flex;
  align-items: center;
  }
  .about-about p{
   min-width: 100vh;
  }
 }
 /* Work body */
 .work-gallery{
  min-width: 100vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
 }

 .work-gallery img{
   min-width: 100%;
   width: 100%;
 }

 .work-nav{
  background-color: #173016;;  
 }

 .work-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 20px;
    letter-spacing: 3px;
  }
 
  .work-nav ul li{
    padding: 10px;
  }
  .work-nav ul li a{
    color: #f4beff;
    text-decoration: none;
  }

  .work-nav ul li a:hover{
    color: #beebe3;
  }

 @media (max-width: 480px) {
 .work-gallery{
   display: grid;
   grid-template-columns: repeat(1,1fr);
   column-gap: 10px;
   row-gap: 10px;
   min-width: 100vh;
  }
  .work-nav{
   min-width: 100vh;
  }
 }
        
 @media (min-width: 481px) and (max-width: 785px) {
  .work-gallery{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   column-gap: 10px;
   row-gap: 10px;
  }
  .work-nav{
   min-width: 100vh;
  }
 }

 /* contact body */
 * {
    box-sizing: border-box;
  }

  .contact-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,rgb(26 25 32 / 60%),rgb(44 32 43 / 60%)), url(../img/Painting/ContactBg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    max-width: 100%;
  }

  .contact-info input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #67646b;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .contact-info input[type=submit] {
    background-color: #04aa1d;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  .contact-info [type=submit]:hover {
    background-color: #10c118;
  }
  
  .contact-box {
    border-radius: 5px;
    background-color:#043606;
    padding: 10px;
    max-width: 60%
  }

  .contact-Us{
    text-align: center;
  }
  
  .contact-pic:after {
    content: "";
    display: table;
    clear: both;
  }

  .contact-textura{
    height: 170px;
  }

  .contact-Me{
    width: 100vh;
  }

  .contact-Me p{
    font-size: 40px;
  }

  .contact-submit{
    width: 100vw;
    color: #0f0f49;
    border-radius: 5px;
    background-color: #a981f3;
    padding: 10px;
  }
  
  @media (max-width: 480px) {
   .contact-page{
    min-width: 100vh;
   }
  }
         
  @media (min-width: 481px) and (max-width: 785px) {
   .contact-info, input[type=submit] {
   width: 100%;
   margin-top: 0;
   }
   .contact-page{
    min-width: 100vh;
   }
  }

  .Work-Image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Shadow-title{
    position: relative;
  }
  .Shadow-title img{
    width: 100%;
    display: block;
    margin: auto;
  }

  .Shadow-content{
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
  }
  .Shadow-content:hover{
    opacity: 1;
  }

  .Work-3Dmodeling-img{
    display: flex;
    min-width: 100%;
    height: 100vh;
  }

  .Work-3Dmodeling-img img{
    min-width: 100vh;
    width: 100%;
  }

  .Work-3Dmodeling-img-disc{
    font-size: 25px;
  }

  .Work-3Dmodeling-vid {
    min-width: 100vh;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .Work-3Dmodeling-vid video{
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

  /* footer */
 .footer{
   padding-bottom: 1px;
   background-color: #011310;
   min-width: 100VW;
   position: sticky;
   top: 100%;
 }
 
 .social-media{
    width: 20px;
 }

 .social-media ul{
    display: flex;
    justify-content: space-between;
 }

 .social-media ul li{
   list-style: none;
 }
  
 .social-media ul li img{
    display: flex;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
 }
  
 .social-media ul li a img{
   padding: 5px;
   background-color: #e2f4e2;
   margin: 10px;
   border-radius: 50%;
   opacity: 0.8;
 } 
  
 .social-media img:hover{
   background-color: #2e995e;
   transition: 0.5;
 }
  
 .social-media img:hover{
   color: #ffffff;
   transition: 0.5;
 }

 @media (max-width: 480px) {
  .social-media ul{
    display: flex;
    justify-content: flex-start;
  }    
 }
  
 .copyright{
   color: #e9f9e9;
 }

 .copyright p{
   display: flex;
   align-items: center;
   justify-content: center;
 }

 @media (max-width: 480px) {
   
 }
        
 @media (min-width: 481px) and (max-width: 785px) {
  
 }

 /* media query for phone */
 @media (max-width: 480px) {
  body { 
    background-color: #020a11;
    color: lightblue;
 }
  .footer{
    min-width: 100vh;
  }
 }
   
   /* media query for tablet */
 @media (min-width: 481px) and (max-width: 785px) {
  body { 
    background-color: #020a11;
    color: lightblue;
 }
 .footer{
    min-width: 100vh;
  }
 }
 
    /* media query for desktop */
 @media (min-width: 786px) {
  body { 
   background-color: #020a11;
   color: lightblue;
 }
 .headerr{
  min-width: 100vh;
}
.header-nav ul{
  font-size: 35px;
}
 .preiv-next {
  min-width: 100vh
 }
 .about-bg{
  min-width: 100vw;
 }
 .contact-page{
  min-width: 100vh;
 }
 .work-nav{
  min-width: 100vh;
 }
 .work-nav ul{
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
 }
 .footer{
  min-width: 100vh;
}
 }